@model List<Crud_Carros.Models.Entities.ClientOfStaff>

@{
    ViewData["Title"] = "Clientes + Staff";
}

<h1>Cadastrar Cliente + Staff</h1>

<h2>Lista de Junções</h2>

<table class="table">
    <thead>
        <tr>
            <th>Staff</th>
            <th>Cliente</th>
            <th></th>   
        </tr>
    </thead>

    <tbody>
        @foreach (var ClientOfStaff in Model)
        {
            <tr>
                <td>@ClientOfStaff.Staff.Name_Staff</td>
                <td>@ClientOfStaff.Client.Name_Client</td>
                <td>
                    <a class="btn btn-primary" asp-controller="ClientOfStaff" asp-action="EditClientOfStaff" asp-route-clientId="@ClientOfStaff.ClientId" asp-route-staffId="@ClientOfStaff.StaffId">Editar</a>
                    
                    <form asp-controller="ClientOfStaff" asp-action="Delete" method="post" style="display:inline;">
                        <input type="hidden" name="ClientId" value="@ClientOfStaff.ClientId" />
                        <input type="hidden" name="StaffId" value="@ClientOfStaff.StaffId" />
                        <button type="submit" class="btn btn-danger ms-3">Excluir</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a class="btn btn-primary" asp-controller="ClientOfStaff" asp-action="AddClientOfStaff">Criar</a>
</div>
